body{
    display:grid;
    grid-template: 150px 0px 4500px /repeat(3, auto);
    gap:0.7rem;
    margin: 0;
    background-color: #222831;
}


/*todo lo relacionado al header*/
header{
    width: 100%;
    position:fixed;
    z-index: 2;
    display: flex;
    flex-flow:column;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: #3F4E4F;
    color: aliceblue;
}

.parth-1 h1:nth-child(1){
    text-align: center;
    animation-name: firstletter;
    animation-duration: 8s;
}
.parth-1{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-grow: 2;
}
.parth-2 ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.itul a{
    float:left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.itul a:hover{
    border:1px solid rgba(251, 253, 253, 0.621);
    transition: 0.5s;
}
.bgb{
    background-color: rgba(199, 199, 199, 0.2);
}

/*area de animaciones*/
@keyframes firstletter{
    0% {
        color: rgb(110, 110, 110);
    }
    20%{
        color: #ff0000de;
    }
    40%{
        color: rgba(255, 0, 221, 0.977);
    }
    60%{
        color: rgba(204, 0, 255, 0.918);
    }
    80%{
        color: #ff0000de;
    }
    100%{
        color: rgb(110, 110, 110);
    }
}

/*todo lo relacionado al main*/
/*main{
    display:grid;
    grid-template: 300px 900px 600px repeat(2, auto)/auto auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    color:white;
    border-radius: 7px;
}*/

main {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: #222831;
}

.principaltitle {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #30475E;
    color: #DDDDDD;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.principaltitle h1 {
    text-align: center;
}

.coursecontainer {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 450px;
    background-color: #222831;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.coursecontainer>div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}


.levelpartsup {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 120px;
    justify-content: space-around;
    align-content: center;
    height: 60%;
    background-color: #30475E;
    border-radius: 10px;
    align-items: center;
}

.imgstyle1 {
    background-image: url(pics/derivada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    border: 1.5px inset #171717;
    border-radius: 5px;
}

.imgstyle2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    border: 1.5px inset #171717;
    border-radius: 5px;
}

.imgstyle3 {
    background-repeat: no-repeat;
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    border: 1.5px inset #171717;
    border-radius: 5px;
}
/*falta imgstyle2 y imgstyle3*/

.namestyle {
    font-family: 'Tilt Warp', cursive;
    color: #DDDDDD;
    text-align: center;
    font-size: 35px;
}

.levelpartinf {
    height: 45%;
    width: 100%;
    background-color: #F05454;
    z-index: 1;
    top: 246px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.levelpartinftitle {
    padding: 10px;
    font-size: 27px;
    font-family: 'Oswald', sans-serif;
    color: #DDDDDD;
    text-align: center;
}

.levelpartinfdescription {
    padding: 5px;
    color: #DDDDDD;
    font-size: 14px;
    text-align: center;
}

.levelpartinfbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px outset #373737;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    margin-top: 9px;
    background-color: #373737;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #DDDDDD;
    transition: 0.5s;
}

.levelpartinfbutton:hover {
    color:black;
    background-color: #DDDDDD;
}

/*seccion 2 del main*/

.testexample {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
    padding: 10px;
    column-gap: 10px;
}

.textzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulogrande {
    font-size: 50px;
    font-family: 'Tilt Warp', cursive;
    color: #DDDDDD;
}

.titulopequeño {
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    color: #DDDDDD;
}

.containerimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtest {
    text-align: center;
}

/* Sección 3 */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 20px;
    gap: 20px;
    height: 3000px;

}

.content > div {
    display: flex;
    flex-direction: column;
}

.descriptiontitle {
    justify-content: center;
    display: flex;
    height: 8%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: cornflowerblue

}

.descriptiontext {
    display: flex;
    height: 12%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #DDDDDD;
}

.titletemary {
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: #DDDDDD;
}

.descriptionlist {
    height: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #DDDDDD;
}

.coursebuttoncontainer{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30006e;
    border-radius: 10px;

}

.coursebuttontext {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #DDDDDD;
}