body {
    display: grid;
    grid-template: 150px 0px 3000px 150px/repeat(3, auto);
    gap: 0.7rem;
    margin: 0;
    background-color: #222831;
}


/*todo lo relacionado al header*/
header {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-flow: column;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: #3F4E4F;
    color: aliceblue;
}

.parth-1 h1:nth-child(1) {
    text-align: center;
    animation-name: firstletter;
    animation-duration: 8s;
}

.parth-1 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 2;
    font-family: 'Wix Madefor Display', sans-serif;
}

.parth-2 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.itul a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Wix Madefor Display', sans-serif;
}

.itul a:hover {
    border: 1px solid rgba(251, 253, 253, 0.621);
    transition: 0.5s;
}

.bgb {
    background-color: rgba(199, 199, 199, 0.2);
}

/*area de animaciones*/
@keyframes firstletter {
    0% {
        color: rgb(110, 110, 110);
    }

    20% {
        color: #ff0000de;
    }

    40% {
        color: rgba(255, 0, 221, 0.977);
    }

    60% {
        color: rgba(204, 0, 255, 0.918);
    }

    80% {
        color: #ff0000de;
    }

    100% {
        color: rgb(110, 110, 110);
    }
}

/*todo lo relacionado al main*/
/*main{
    display:grid;
    grid-template: 300px 900px 600px repeat(2, auto)/auto auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    color:white;
    border-radius: 7px;
}*/

main {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    background-color: #222831;
}

.principaltitle {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #30475E;
    color: #DDDDDD;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.principaltitle h1 {
    text-align: center;
}

.coursescontainer {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: 600px;
    justify-content: center;
    column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 600px;
}

.coursescontainer>div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #42474f;
    border-radius: 10px;
    transition: 0.3s;
}

.title1 {
    display: flex;
    height: 5%;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 30px;
    margin-top: 40px;
}

.title1text {
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    color: #DDDDDD;
}

.title2 {
    display: flex;
    height: 10%;
    align-items: center;
    margin: 30px;
}

.title2text {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 30px;
    color: #DDDDDD;
}

.descriptionzone {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.descriptionzonetext {
    color: #DDDDDD;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 17px;
}

.buttonvermas {
    display: flex;
    height: 10%;
    background-color: #DDDDDD;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Konkhmer Sleokchher', cursive;
    transition: 0.3s
}

.coursescontainer a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

.buttonvermas:hover {
    background-color: #181818;
    color: #DDDDDD;
}

.duration {
    display: flex;
    gap: 15px;
}

.iconclock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-left: 30px;
    margin-top: 20px;
    color: #DDDDDD;
    filter: brightness(0) invert(1);
}

.cantclases {
    height: 20px;
    margin-top: 18px;
    color: #DDDDDD;
    font-family: 'Wix Madefor Display', sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #42474f, #ffffff, #42474f);
}

/*seccion 2 del main*/

.testexample {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
    padding: 10px;
    column-gap: 10px;
}

.textzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulogrande {
    font-size: 50px;
    font-family: 'Tilt Warp', cursive;
    color: #DDDDDD;
}

.titulopequeño {
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    color: #DDDDDD;
}

.containerimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtest {
    text-align: center;
}

/* Sección 3 */

.content {
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: repeat(3, 400px);
    padding: 20px;
    column-gap: 10px;
    row-gap: 100px;
    background-color: #DDDDDD;
    justify-content: center;

}

.content>div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    transition: 0.5s;
}

.contenedor-imagen img:hover {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.infocourse {
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #222831;
    transition: 0.5s;
}

.infocourse:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.texto1 {
    margin-top: 30px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 30px;
    color: #DDDDDD;
}

.texto2 {
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    color: #DDDDDD;
}

.temarylist {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.column {
    font-family: 'Wix Madefor Display', sans-serif;
    color: #DDDDDD;
    font-size: 17px;
}

.buttonprinc {
    display: flex;
    background: linear-gradient(to right, #00ff75, #00bfff);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    font-family: 'Konkhmer Sleokchher', cursive;
    border-radius: 10px;
    font-size: 20px;
    height: 55px;
    color: #181818;
}

.buttonprinc2 {
    display: flex;
    background: linear-gradient(to right, #00ff75, #00bfff);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 53px;
    font-family: 'Konkhmer Sleokchher', cursive;
    border-radius: 10px;
    font-size: 20px;
    height: 55px;
    color: #181818;
}

/*Area del footer*/
footer {
    display: grid;
    grid-template: 100%/25% 25% 25% 25%;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #3F4E4F;
}

footer a:link {
    color: black;
    text-decoration: none;
}

footer a:visited {
    color: black;
    text-decoration: none;
}

footer a:active {
    color: black;
    text-decoration: none;
}

.socialfooter {
    display: grid;
    grid-template: 33% 33% 33%/1fr;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    height: 100%;
    gap: 2%;
}

.f {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-top: 2%;
    margin-right: 60%;
    grid-row-start: 1;
    grid-row-end: 1;
    gap: 10%;
}

.f a:nth-child(2) {
    margin-top: 8%;
}

.f a:nth-child(2):hover {
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}

.t {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-right: 60%;
    grid-row-start: 2;
    grid-row-end: 2;
    gap: 10%;
}

.t a:nth-child(2) {
    margin-top: 8%;
}

.t a:nth-child(2):hover {
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}

.i {
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-right: 60%;
    grid-row-start: 3;
    grid-row-end: 3;
    gap: 10%;
}

.i a:nth-child(2) {
    margin-top: 8%;
}

.i a:nth-child(2):hover {
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}

.socialicon img {
    margin-top: 5%;
    height: 70%;
}

.socialicon img:hover {
    margin-top: 0;
    transition: 0.8s;
    border: 1px solid white;
    border-radius: 7px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 10%;
}

.secfooter {
    display: grid;
    grid-template: 50% 50%/100%;
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: center;
}

.supportfooter {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 2%;
    grid-row-start: 1;
    grid-row-end: 1;
}

.supportfooter a:nth-child(2) {
    margin-top: 1.8%;
}

.supportfooter img {
    height: 60%;
}

.supportfooter:hover {
    padding: 0.5%;
    transition: 0.8s;
}

.supportfooter a:nth-child(2):hover {
    margin-top: 1%;
    transition: 0.8s;
    color: white;
}

.rights {
    display: flex;
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}

.bluetext {
    color: blue;
}