body{
    display:grid;
    grid-template: 150px 0px 3000px 150px/repeat(3, auto);
    margin: 0;
    background-color: #222831;
}

           /*todo lo relacionado al header*/

header{
    width: 100%;
    position:fixed;
    z-index: 2;
    display: flex;
    flex-flow:column;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: #3F4E4F;
    color: aliceblue;
}

.parth-1 h1:nth-child(1){
    text-align: center;
    animation-name: firstletter;
    animation-duration: 8s;
}
.parth-1{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-grow: 2;
}
.parth-2 ul{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

.itul a{
    float:left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.itul a:hover{
    border:1px solid rgba(251, 253, 253, 0.621);
    transition: 0.5s;
}

        /*todo lo relacionado al main*/

main{
    display:grid;
    grid-template: 20% 40% 25%/auto auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    color:white;
    border-radius: 7px;
    background-color: #222831;
    margin: 0;
    padding: 0;
}

             /*seccion 1 del main*/

main section:nth-child(1){
    display: grid;
    grid-template: 100%/50% 50%;
    grid-column-start: 1;
    color: white;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 7px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.div1sec1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2%;
    font-size: 110%;
    grid-column-start:1 ;
    grid-column-end: 1;
}
.div2sec1{
    padding: 5%;
    margin-top: 5.7%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 1;
}
.div2sec1:hover{
    margin-top: 3%;
    transition: 0.9s;
}


             /*seccion 2 del main*/

main section:nth-child(2){
    margin-bottom:0 ;
    display: grid;
    grid-template: 11% 17% 17% 17% 17%/ 25% 25% 25% 25%;
    font-style: italic;
    background-color: none;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.titsection2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow: hidden;
    font-size: 2rem;
    text-align:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
.div1sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.div1sec2 img{
    margin-left: 24%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 56%;
}
.div1sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div1sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div1sec2:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid white;
}
.div2sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: black;
    color: white;
    border-radius: 7px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}
.div2sec2 img{
    margin-left: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
}
.div2sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div2sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div2sec2:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid black;
}
.div3sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}
.div3sec2 img{
    margin-left: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 49%;
}
.div3sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div3sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div3sec2:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid white;
}
.div4sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: black;
    color: white;
    border-radius: 7px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}
.div4sec2 img{
    margin-left: 20%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
}
.div4sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div4sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div4sec2:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid black;
}
.div5sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: black;
    color: white;
    border-radius: 7px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
}
.div5sec2 img{
    margin-left: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
}
.div5sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div5sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div5sec2:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid black;
}
.div6sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    border: 1px solid black;
}
.div6sec2 img{
    margin-left: 24%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 56%;
}
.div6sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div6sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div6sec2:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid white;
}
.div7sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: black;
    color: white;
    border-radius: 7px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
}
.div7sec2 img{
    margin-left: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 50%;
}
.div7sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div7sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div7sec2:hover{
    background-color: white;
    color: black;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid black;
}
.div8sec2{
    display: grid;
    grid-template: auto/50% 50%;
    justify-content: center;
    align-items: center;
    margin:1%;
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 3px solid black;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
}
.div8sec2 img{
    margin-left: 25%;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 49%;
}
.div8sec2 div:nth-child(2){
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
.div8sec2 div:nth-child(2) h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.div8sec2:hover{
    background-color: black;
    color: white;
    transition: 0.8s;
    padding-inline: 5%;
    border: 3px solid white;
}
             
         /*seccion 3 del main*/

main section:nth-child(3){
    margin-top: 0;
    display: grid;
    grid-template: 10% 90%/auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    row-gap: 5%;
    background: linear-gradient(#222831,white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.titsec3{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
.div2sec3{
    display: grid;
    grid-template: 100% / 33% 33% 33%;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 2;
}
.curso1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-right: 1.5rem;
    margin:3rem;
    background-color: white;
    color: black;
    grid-column-start: 1;
    grid-row-start: 1;
}
.curso1:hover{
    color:white;
    background-color: black;
    padding: 5%;
    transition: 0.8s;
}
.imgcurso1{
    width: 100%;
    margin-bottom: 2rem;
}
.imgcurso1 img{
    margin-left: 3rem;
    width: 70%;
}
.curso1 div:nth-child(2){
    margin-bottom: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.curso2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    border-radius: 7px;
    margin:3rem;
    background-color: white;
    color: black;
    grid-column-start: 2;
    grid-column-end: 2;
}
.curso2:hover{
    color:white;
    background-color: black;
    padding: 5%;
    transition: 0.8s;
}
.imgcurso2{
    width: 100%;
    margin-bottom: 1rem;
}
.imgcurso2 img{
    margin-left: 1rem;
    width: 90%;
}
.curso2 div:nth-child(2){
    text-align: center;
    margin-bottom: 4.5rem;
}
.curso3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    border-radius: 7px;
    margin:3rem;
    background-color: white;
    color: black;
    grid-column-start: 3;
    grid-column-end: 3;
}
.curso3:hover{
    color:white;
    background-color: black;
    padding: 5%;
    transition: 0.8s;
}
.imgcurso3{
    width: 100%;
    margin-left: 7rem;
}
.imgcurso3 img{
    margin-bottom: 2rem;
    width: 70%;
}
.curso3 div:nth-child(2){
    margin-bottom: 2rem;
    text-align: center;
}
        /*Seccion 4 del main*/
main section:nth-child(4){
    display: grid;
    grid-template: 50% 50%/auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    margin-bottom: 1%;
    background: linear-gradient(white,#222831);
}
.div1sec4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
    margin-bottom: 0;    
    background-image: url(pics/fondosec4.png);
    background-position: center;
    background-attachment: fixed;
    border-radius: 7px;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    font-size: 100%;
}
.div1sec4 h1{
    padding: 2%;
    color:white;
    background-color: black;
    border-radius: 7px;
}
.div2sec4{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 2;
}
.div2sec4 a{
    font-size: 150%;
    background-color: white;
    text-decoration: none;
    padding: 2%;
    border-radius: 4%;
    color: black;
    margin-bottom: 6%;
}
.div2sec4 a:hover{
    transition: 0.8s;
    animation-name: bottomfin;
    animation-duration: 5s;
}
       /*Area del footer*/
footer{
    display: grid;
    grid-template: 100%/25% 25% 25% 25%;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #3F4E4F;
}
footer a:link{
    color:black;
    text-decoration: none;
}
footer a:visited{
    color: black;
    text-decoration: none;
}
footer a:active{
    color:black;
    text-decoration: none;
}
.socialfooter{
    display: grid;
    grid-template: 33% 33% 33%/1fr;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    height: 100%;
    gap: 2%;
}
.f{
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-top: 2%;
    margin-right: 60%;
    grid-row-start: 1;
    grid-row-end: 1;
    gap:10%;
}
.f a:nth-child(2){
    margin-top: 8%;
}
.f a:nth-child(2):hover{
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}
.t{
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-right: 60%;
    grid-row-start: 2;
    grid-row-end: 2;
    gap:10%;
}
.t a:nth-child(2){
    margin-top: 8%;
}
.t a:nth-child(2):hover{
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}
.i{
    display: flex;
    flex-direction: row;
    margin: 1%;
    margin-right: 60%;
    grid-row-start: 3;
    grid-row-end: 3;
    gap:10%;
}
.i a:nth-child(2){
    margin-top: 8%;
}
.i a:nth-child(2):hover{
    margin-top: 3%;
    transition: 0.8s;
    color: white;
}
.socialicon img{
    margin-top: 5%;
    height: 70%;
}
.socialicon img:hover{
    margin-top: 0;
    transition: 0.8s;
    border: 1px solid white;
    border-radius: 7px;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    justify-content: center;
    align-items: center;
}
.footer-logo img{
    height: 10%;
}
.secfooter{
    display: grid;
    grid-template: 50% 50%/100%;
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: center;
}
.supportfooter{
    display: flex;
    flex-direction: row;
    gap:2%;
    margin-top: 2%;
    grid-row-start: 1;
    grid-row-end: 1;
}
.supportfooter a:nth-child(2){
    margin-top: 1.8%;
}
.supportfooter img{
    height: 60%;
}
.supportfooter:hover{
    padding: 0.5%;
    transition: 0.8s;
}
.supportfooter a:nth-child(2):hover{
    margin-top: 1%;
    transition: 0.8s;
    color:white;
}
.rights{
    display: flex;
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}
       /*Generalidades de los titulos*/

.tit{
    text-align: center;
}
.bgb{
    background-color: rgba(199, 199, 199, 0.2);
}
.textsiz1{
    font-size: 1.5rem;
}
.tit3{
    font-size: 3rem;
}
.titcent{
    text-align: center;
}
.bluetext{
    color:blue;
}

          /*area de animaciones*/

@keyframes firstletter{
    0% {
        color: rgb(110, 110, 110);
    }
    20%{
        color: #ff0000de;
    }
    40%{
        color: rgba(255, 0, 221, 0.977);
    }
    60%{
        color: rgba(204, 0, 255, 0.918);
    }
    80%{
        color: #ff0000de;
    }
    100%{
        color: rgb(110, 110, 110);
    }
}
@keyframes bottomfin{
    0%{
        font-size: 150%;
        background-color: white;
        padding: 2%;
        border-radius: 4%;
        color: black;
        margin-bottom: 6%;
    }
    25%{
        font-size: 150%;
        padding: 2%;
        border-radius: 4%;
        color: rgb(146, 144, 144);
        margin-bottom: 6%;
        margin-left: 13%;
    }
    50%{
        font-size: 150%;
        background-color: white;
        padding: 2%;
        border-radius: 4%;
        color: black;
        margin-bottom: 6%;
        margin-left: 0;
    }
    75%{
        font-size: 150%;
        padding: 2%;
        border-radius: 4%;
        color: rgb(144, 144, 144);
        margin-bottom: 6%;
        margin-right: 13%;
    }
    100%{
        font-size: 150%;
        background-color: white;
        padding: 2%;
        border-radius: 4%;
        color: black;
        margin-bottom: 6%;
        margin-right: 0;
    }
}